
<table>

<% col = "col_odd"%>

<% for client in @clients %>
		<tr valign="middle">
			<td class="<%=col%>">
			<%= client.address %> 
			</td>
			
			<td class="<%=col%>">
				<% if client.people.find(:first) %>
		    		<%= client.people.find(:first).first_name %>
					<%= client.people.find(:first).last_name %>
				<% end %>
			</td>
			<td class="<%=col%>">
			<%= link_to "Show", client_path(client)%>
			<%= link_to "Edit", edit_client_path(client)%>
			<%= link_to "Sign In", client_registration_url(:action => :register, :id => client)%>
			</td>
	  </td></tr>
 	<% if col == "col_odd"
		 col = "col_even" 
	   else
	     col = "col_odd"
	   end 
	%>
<% end %>
</table>

<%= will_paginate @clients %>

