
<div style="border: 1px solid black; padding: 10px; padding-left: 20px; margin-bottom: 20px; background-color: white;">	

<table>
<tr><td style="padding: 20px;">
<img src="http://maps.google.com/staticmap?center=<%=@client.latitude%>,<%=@client.longitude%>&markers=<%=@client.latitude%>,<%=@client.longitude%>&zoom=16&size=250x250&key=ABQIAAAAWeEzTbVVHIF6pbi5GNENxhTs2saUpR3PRlYMr0CCdolYdyBFARQYEHS9X5iOuf9qznh0J_h11s-U5w"/>
</td><td>
	<h1><%= @client.address %></h1>

	<table>
		<tr>
			<td class="field">Address:</td> <td><%= @client.address %></td>
		</tr>
		<tr>
			<td class="field">City:</td> <td><%= @client.city %></td>
		</tr>
		<tr>
			<td class="field">Postal Code:</td> <td><%= @client.postal_code %></td>
		</tr>
		<tr>
			<td class="field">Phone:</td> <td><%= @client.phone %></td>
		</td>
	</table>
	</td></tr></table>
	<p><%= link_to 'Edit', edit_client_path() %></p>
</div>

<div style="border: 1px solid black; padding: 10px; padding-left: 20px; margin-bottom: 20px; background-color: #FFFCE1;">
	<h1>People</h1>
	<% for person in @people do %>
		<table>
		  <tr class="person_list">
			<td>First Name: </td> <td><%= person.first_name %></td>
			<td>Last Name: </td> <td><%= person.last_name %></td>
			<td>Age: </td><td><%= person.age %></td>
			<td id="commands">Edit</td><td id="commands">Remove</td>
		  </tr>	
		</table>
	<% end %>
	<div id="add_person">
    </div>
	<p id="add_new_person_link"><%= link_to_remote 'Add New Person', :url => new_client_person_path(@client), :method => :get %></p>
</div>

<div id="bottom"><%= link_to 'Show All Clients', clients_path() %></div>
